<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TodoApp</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TodoApp_Async.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-area="" asp-page="/Index">TodoApp_Async</a>
            <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navbarBasic">
            <div class="navbar-start">
                <a class="navbar-item" asp-area="" asp-page="/Index">Home</a>
                <a class="navbar-item" asp-area="" asp-page="/Privacy">Privacy</a>
                <a class="navbar-item" asp-area="" asp-page="/Agent/Agents">Agents</a>
                <a class="navbar-item" asp-area="" asp-page="/Tache/Taches">Taches</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@*<footer class="footer">
    <div class="content has-text-centered">
        &copy; @DateTime.UtcNow.Year - TodoApp | <strong>TekSniper</strong>
    </div>
</footer>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
                document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          });
        });
    </script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>